@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Shantell Sans', cursive;
    background-color: cadetblue;
}
